    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes fadeIn2 {
      0% {
        opacity: 0;
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

      @keyframes fadeInOut {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      90% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        visibility: hidden;
      }
    }

    .fadeinout {
      animation-name: fadeInOut;
      opacity: 0; /* Start invisible */
      animation: fadeInOut 4s ease-in-out forwards;
    }

    .fadein {
      animation-name: fadeIn;
    }

    .ad1 {
      animation-duration: 1s;
    }

    .ad2 {
      animation-duration: 2s;
    }

    .ad3 {
      animation-duration: 3s;
    }

    .fadein2 {
      animation-name: fadeIn2;
      animation-duration: 5s;
    }

    .fadein3 {
      animation-name: fadeIn2;
      animation-duration: 6s;
    }