:root {
  --color1: #B76B64;
  --color2: #B77455;
  --color3: #674752;
  --color4: #534E50;
  --color5: #DDDDDE;
  --negro: #0B0B0B;
  --gris: #202020;
  --accent: white;
  --color6: #784453;
  --color7: rgb(202, 126, 64);
}



