html {
  scroll-behavior: smooth;
  /* 
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always; 
  scroll-snap-align: start; 
  */
  padding: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

a, p, h1, h2, h3 {
  color: var(--color4);
}

h1, h2, h3, h4 {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

.intro {
    display: flex;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 0px;
}

section {
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.columnas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    flex-grow: 1;
}

.filas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.boton {
    border-radius: 2em;
    text-decoration: none;
    padding: 0.5em 2em;
    text-align: center;
    transition: 0.5s;
    background-color: var(--color6);
}

.boton:hover {
    background-color: var(--color4);
    color: white;
    transition: 0.5s
}

.ahuecado {
    border: 1px solid var(--color4);
}

.bordo {
    color: white;
    background-color: var(--color6);
}

.marron {
    color: var(--color4);
}

.blanco {
    color: var(--color5);
    border-color: var(--color5);
}

#presentacion-index {
    background: url(img/bg-presentacion.jpg) no-repeat center; 
    background-size: cover; 
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    #presentacion-logo {
        text-align: center;
        translate: 0% 50%;
    }

    #presentacion-logo img {
        width: 200px;
        max-width: 40vw;
    }
    
    #presentacion-texto {
        width: 500px;
        max-width: 100vw;
        text-align: center;
        line-height: 1em;
        translate: 0% -50%;
    }

    #presentacion-texto p {
        text-align: left;
        font-size: large;
        line-height: 1em;
        color: var(--color4);
    }

#presentacion {
    background: url(img/bg-presentacion.jpg) no-repeat center; 
    background-size: cover; 
    max-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    }

    #presentacion div {
        max-width: 600px;
        text-align: center;
        line-height: 1.5em;
        padding: 0em 1em;
    }
    
    #presentacion img {
        width: 200px;
        max-width: 40vw;
    }




#regiones {
    background: url(img/bg-regiones.jpg) no-repeat center; 
    background-size: cover;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    align-items: center;
    align-content: center;
    padding-top: 100px;
    }

#regiones img {
    width: 350px;
    max-width: 100cqw;
    max-height: 80cqh;
    transition: 0.5s;
    }

#regiones img:hover {
    transform: scale(1.1);
    transition: 0.8s;
    }

.inhabilitado {
    filter: grayscale() opacity(0.5);

}

.iconoregion {
    width: 250px;
    max-width: 80vw;
}

.tituloregion {
    width: 350px;
    max-width: 80vw;
    text-align: center;
    color: white;
}

.intro-r1 {
    background: url(img/bg-region1.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover; 
    max-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    }

    
    #bajada-r1 div {
        background-color: #000000aa;
        width: 700px;
        max-width: 80vw;
        padding: 2em;
        border-radius: 15px;
    }

    #bajada-r1 p {
        color: white;
        line-height: 1.5em;
        text-align: left;
    }


.media-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.encabezado {
  background-color: black; 
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 8;
  transition: top 0.3s; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100px;
  padding-top: 50px;
}

.encabezado-degradado {
    position: absolute;
    top: 0;
    z-index: 4;
    background: linear-gradient(#000000FF, #000000FF, #000000aa, #00000000); 
    padding-bottom: 3em;
    top: 0; 
    width: 100%; 
    transition: top 0.3s; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.encabezado div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.encabezado h2 {
    color: white;
    text-align: left;
    padding: 15px;
    text-decoration: none;
}

.encabezado p {
    color: white;
    text-align: left;
    padding: 15px;
    text-decoration: none;
}

.encabezado-degradado h2 {
    color: white;
    text-align: left;
    padding: 15px;
    text-decoration: none;
}

.encabezado-degradado p {
    color: white;
    text-align: left;
    padding: 15px;
    text-decoration: none;
}

#estampilla1 {
    position: absolute;
    top: 30%;
    left: 10px;
    width: 200px;
    max-width: 30vw;
    z-index: 0;
    transform: rotate(-15deg);
    opacity: 1;
    filter: drop-shadow(-1px -1px 1px var(--color4));

}

#estampilla2 {
    position: absolute;
    bottom: 80px;
    right: 10px;
    width: 150px;
    max-width: 30vw;
    z-index: 0;
    transform: rotate(-15deg);
    opacity: 1;
    filter: drop-shadow(-1px -1px 1px var(--color4));

}

#estampilla4 {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 150px;
    max-width: 30vw;
    z-index: 99;
    transform: rotate(10deg);
    filter: drop-shadow(-1px -1px 1px var(--color4));
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-bar a {
    background-color: var(--color5) !important;
}

.leaflet-container {
    background-color: #67475288 !important;
}

.sombra {
    filter: drop-shadow(-5px 5px 6px black);
}

.columna-podcast {
    z-index: 2;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    max-width: 90vw;
}

.blanco { 
    
    color: white !important;
    border-color: white !important;

    p
    {
    color: white !important;
    }
}

.pie-de-seccion {
  background-color: black; 
  bottom: 0; 
  width: 100%; 
  transition: top 0.3s; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-basis: 100px;
}

.morado {
    background-color: var(--color3);
}

.pie-de-seccion div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.pie-de-seccion h2, p {
    color: var(--color5);
    text-align: left;
    text-decoration: none;
}

.contenedor-media {
    background-color: black;
    height: 100cqh; 
    width: 100cqw; 
}

video {
    padding-top: 4em;
    height: 80vh;
    width: 100%;
}

#media-cuadernillo {
    background: url(img/bg-cuadernillo.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    overflow: scroll;
    scrollbar-width: none;
    padding: 1em;
    }

.textos-cuadernillo {
    width: 800px;
    max-width: 80%;
    line-height: 1.5em;
}

.textos-cuadernillo p {
    color: var(--color3);
    margin-bottom: 0.8em;
}

    #media-cuadernillo img {
        width: 600px;
        max-width: 90cqw;
    }
    

.pie-material {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    z-index: 2;
    gap: 1em;
}

.pie-material img {
    max-width: 70px !important;
    align-self: center !important;
    justify-self: center !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.pie-logos {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    z-index: 2;
}
.pie-logos img {
    max-height: calc(2em + 7vw) !important;
    align-self: center !important;
    justify-self: center !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
}

   #media-cuadernillo div h3 {
            color: var(--color3);
            margin-bottom: 1em;
    }

#media-podcast {
    background: url(img/bg-podcast.jpg) no-repeat;
    background-position: 10% 50%;
    background-attachment: fixed;
    background-size: cover; 
    max-width: 100vw;
    margin: 0;
    padding: 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    }

    #media-podcast h1 {
        color: white;
        text-align: left;
   }


   #media-fotos {
    background: url(img/bg-fotos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover; 
    max-width: 100vw;
    margin: 0;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;}

    #media-fotos .texto {
        width: 100em;
        align-self: center;
        padding-top: 3em;
   }

   #media-fotos .texto p {
        color: white;
        text-align: left;
        padding: 2em;
        flex-wrap: wrap;
   }

    .diapotexto {
        width: 800px;
        max-width: 80cqw;
        padding: 2em;
        margin-top: -2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }

   .diapotexto:first-child {
    margin-top: 20vh;
   }

   .espaciador {
    height: 60px;
   }

      .diapotexto p {
        color: white;
        text-align: left;
        line-height: 1.5em;
        padding: 1em;
   }

    .diapotexto .link {
        color: var(--color5);
        text-align: left;
        line-height: 2em;
        padding-left: 0em;
        transition: 0.3s;

   }

   .diapotexto .link:hover {
        color: var(--color1);
        padding-left: 1em;
        transition: 0.3s;
   }


   .container {
        max-height: 90vh;
        gap: 1em;
        overflow: auto;
        scrollbar-width: none;
    }

   .foto-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1em;
    padding-bottom: 20vh;
}

@keyframes crece {
    from {
        transform: scale(0.3);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }    
}

.foto-container img {
  max-width: 90cqw;
  max-height: 80vh;
  animation: crece 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  margin-top: 10em;
  margin-left: 2em;
}


.fondo-papel {
    background: url(img/bg-presentacion.jpg) no-repeat center; 
    background-size: cover; 
    background-attachment: fixed;
    max-width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    }



    

#cierre {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--color3);

}

#logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--color4);

}

.container-final {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
    }

    .footer-logos {
        background-color: var(--color4); 
        bottom: 0; 
        width: 100%; 
        transition: top 0.3s; 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        align-items: center;
        flex-basis: 100px;
        align-self: flex-end;
        justify-self: flex-end;
}

.footer-logos img {
        max-width: 150px; 
}

    .texto-final {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        max-width: 400px;
        margin-bottom: 2em;
    }
    .texto-final p{
        color: white;
        font-size: large;
        padding: 0.5em;
        }
    
     .texto-final .boton {
        margin: 0.5em;
    }
    

.contenedor-estampillas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 600px;
    max-width: 95vw;
    
}

.contenedor-estampillas img {
    max-width: calc(2em + 5vw);
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

img {
      transition: transform 0.25s ease;
}

img.zoomed {
  cursor: zoom-out;
  z-index: 999 !important;
  opacity: 1 !important;
  position: fixed !important;
  translate: -50% -50% !important;
  top: 50% !important;
  left: 50% !important;
  transition: transform 0.25s ease;
}

.fondo-creditos {
    background-image: url(img/bg-cuadernillo.jpg); 
    background-repeat: none;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    }

#logo-creditos {

    width: 200px;
    max-width: 80vw;
    margin-bottom: 5em;
    align-self: flex-start;
}

#logo-creditos img {
 width: 100%;
 margin-top: 80px;
}

.contenedor-creditos {
    max-width: 600px;
    padding: 2em;
    line-height: 1.5em;
}

.contenedor-creditos p {
    margin-top: 1em;
    color: var(--color4)
}
.contenedor-creditos h1 {
    margin-bottom: 1em;
    color: var(--color3);
}

.contenedor-creditos h2 {
    margin-top: 2em;
    color: var(--color2);
}

.leyenda {
    line-height: 1.5em;
}

/* MODALES */

.btn-region {
    border: none;
    background-color: transparent;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top of other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  display: flex;
  justify-content: center;
  align-content: center;
    display: none; /* Hidden by default */
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.modal-content {
  background-color: #F3F3F3dd;
  padding: 5em 2em;
  margin: auto;
  border-radius: 25px;
  width: 800px; /* Adjust as needed */
  max-width: 80%; /* Optional: maximum width */
  position: relative; /* For close button positioning */
  z-index: 1001; /* Above the overlay */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}

.modal-content img {
    object-fit: contain;
    align-self: center;
}


.modal-content p {
    max-width: 300px;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.modal-content h2 span {
    color: var(--color3);
}

.modal-content h2 {
    max-width: 300px;
    margin-bottom: 1em;
}


.close-button {
  color: var(--color3);
  font-size: xx-large;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 35px;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
}

/* MAPA */

#contenedor-mapa {
    background-image: url(img/bg-sierras.jpg);
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: antiquewhite;
    z-index: 1;
    position: relative !important;
}



#map { 
  height: 90%;
  max-height: 90vh; 
  width: 80%;
  z-index: 2;
  position: relative;
}




.leaflet-popup-content-wrapper {
    font-family: bitter;
    background-color: var(--color2);
    font-size: medium;
}

.leaflet-popup-content-wrapper h1 {
    color: var(--color3);
}

#materiales {
    background: url(img/bg-presentacion.jpg) no-repeat center; 
    background-size: cover; 
    background-attachment: fixed;
    }

    .maincontainer {
        padding-top: 190px;
        padding-bottom: 120px;
        width: 900px;
        max-width: 90vw;
        margin: auto;
        overflow-y: scroll;
        scrollbar-width: none;
        height: 100%;
        line-height: 1.5em;
    }

    .maincontainer h1 {
        margin-bottom: 0.8em;
        color: var(--color3);
    }
    .maincontainer h3 {
        margin-top: 3em;
        margin-bottom: 0.8em;
        color: var(--color3);
    }

    .maincontainer p {
        margin-top: 0.5em;
        color: var(--color4)
    }

    .maincontainer a {
        color: var(--color2);
    }

    .maincontainer a:hover {
        color: var(--color3);
    }

.texto-intro {
    font-family: "bitter";
}
